/* 

.wrapper {
  display: flex;
  align-items: stretch;
  perspective: 1500px;
}

#sidebar {
  top: 0;
  left: 0;
  height: 100%;
  width: 160px;
  background: rgb(105, 165, 218);
  color: #fff;
}

#sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: white;
  display: block;
}



#sidebar a:hover {
  color: #fff;
}

#sidebar a.active {
  background-color: #0275d8;
  color: white;
}

#sidebar a:hover:not(.active) {
  background-color: #0275d8;
}

nav.navbar {
  height: 100%;
  background: rgb(105, 165, 218);
} */

.wrapper {
  display: flex;
  align-items: stretch;
  perspective: 1500px;
}

#sidebar {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #007bff;
  color: #fff;
}

#sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: white;
  display: block;
}

/* Style links on mouse-over */

#sidebar a:hover {
  color: #fff;
}

#sidebar a.active {
  background-color: #0275d8;
  color: white;
}

#sidebar a:hover:not(.active) {
  background-color: #0275d8;
}

/* nav.navbar {
  height: 100%;
  background: rgb(105, 165, 218);
}  */

nav.navbar {
  height: 100%;
}