<!-- sidebar -->
<!-- Sidebar Header -->
<div id="sidebar" class="collapse show navbar-collapse">
    <!-- Sidebar Links -->
    <ul class="list-unstyled components ">
        <!--<li class="nav-item"><a class="nav-link active" href="#">Inbox</a></li>-->
        <li>
            <!-- Link with dropdown items -->
            <a href="#inboxSubmenu" data-toggle="collapse" aria-expanded="false">Inbox</a>
            <ul class="collapse list-unstyled" id="inboxSubmenu">
                <li><a routerLinkActive="active" routerLink="inbox/appointment">&nbsp;&nbsp;&nbsp;&nbsp;Appointments</a>
                </li>
            </ul>
        </li>
        <li><a href="#">Schedular</a></li>
        <li>
            <!-- Link with dropdown items -->
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Notes</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <!-- <li class="nav-item"><a class="nav-link active" routerLink="/note/send">Send</a></li> -->
                <li><a href="#">Recieve</a></li>
                <li><a href="#">Sent</a></li>
            </ul>
        </li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>