<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <div *ngIf="showPassword" class="alert alert-danger" role="alert">
    Unauthorised User ! <br>
    Please provide your credential properly
  </div> -->
<div class="container-fluid" style="background-color:rgb(235, 233, 224);">
    <div class="row">
        <!-- <div class="order-md-first">
            <app-sidebar></app-sidebar>
        </div> -->
        <div class="col-md-3 col-lg-3 order-md-last">
            <div class="form-signin left_space" >
                <form (ngSubmit)="onSubmit(credentials)" #credentials="ngForm">
                    <h3 class="h3 mb-3 fw-normal">SIGN IN</h3>
                    <div class="form-floating inner-addon right-addon">
                        <label for="floatingInput">Email address</label>
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                            name="email" ngModel required email #email="ngModel"> <i class="fas fa-envelope new"></i>
                        <span class="validation_error_red" *ngIf="!email.valid && email.touched">Please enter valid
                            email address!</span>

                    </div><br>

                            <div class="form-floating inner-addon right-addon">
                                <label for="floatingPassword">Password</label>
                                    <input name="password" [type]="showPassword ? 'text' : 'password'"  class="form-control" id="floatingPassword" placeholder="Password"
                                    ngModel
                                    required
                                    #password="ngModel"
                                    >
                                    <i alt="hide" class="fa fa-eye-slash eye-hide new"  (click)="showPassword = !showPassword"
                                        [class.hide]="!showPassword">
                                        </i>
                                    <i alt="show" class="fa fa-eye eye-show new" (click)="showPassword = !showPassword"
                                        [class.hide]="showPassword"></i>
                                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                                    <div *ngIf="password.errors?.required" class="validation_error_red">
                                    password is required.
                                    </div>
                                    <div *ngIf="password.errors?.minlength" class="validation_error_red">
                                    password is weak
                                    </div>
                                    <div *ngIf="password.errors?.forbiddenName">
                                    Name cannot be Bob.
                                    </div>
                                </div>                        
                            </div>
                            <div class="form-floating">
                        <span class="align-right"> <a  href="#" routerLink='/forgetpassword' rel="noopener noreferrer">Forgot Password</a> </span> 
                            </div><br>
                        <button class="w-10 btn btn-lg btn-primary" [disabled]="!credentials.valid" type="submit">Sign in</button>&nbsp;&nbsp;
                         <br>
                </form>
            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <h1 class="display-4">Welcome To CT General Hospital!</h1>
            <h6>
                <img src="assets/images/patient.jpg" class="img-fluid" height="400px" width="400px">
            </h6>

        </div>
    </div>
</div>
<!--
            <div class="col-md-8 col-lg-8">
                <ng-template #empRegistration>  
                    <div>
                        <h4 class="h3 mb-3 fw-normal">Welcome To CT General Hospital!</h4>
                        <img src="assets/images/welcomeng.jpg"  class="img-fluid" height="400px">
                        <h6>
                            <img src="src/assets/images/patient.jpg" class="img-fluid" width="600" height="400">
                        </h6>
                    </div>
                </ng-template> 
               
                <div *ngIf="role == 'admin'; else empRegistration" >
                    <app-employee-registration></app-employee-registration>
                </div>
               
            </div> -->

<app-footer></app-footer>