

<div  style="background-color:rgb(235, 233, 224);">
    <div class="container" style="background-color:rgb(235, 233, 224);">
        <main>
            <div class="row g-6">
                <div class="col-md-4 col-lg-4 order-md-last">
                    <h3 class="display-4">Specially For Our User !</h3>
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6">
                            <button class="btn btn-warning btn-lg" routerLink='/login' type="button">Registred User</button>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6">
                            <button class="btn btn-primary btn-lg" type="button">New Patient</button>
                        </div>
                    </div> 
                </div>
                <div class="col-md-8 col-lg-8">
                    <h1 class="display-4">Welcome To CT General Hospital!</h1>
                    <h6>
                        <img src="assets/images/patient.jpg"  class="img-fluid" height="400px">
                    </h6>
                
                </div>
            </div>
        </main>
    </div>
    </div>