.upper_distance {
    margin-top: 10px;
}

.upper_distance_slot {
    margin-top: 18px;
}

.upper_distance_button {
    margin-top: 18px;
}

.doctor_dropdown {
    width: 300px;
    display: inline;
}