<app-header></app-header>
<main class="form-signin">
    <form>
      <h1 class="h3 mb-3 fw-normal">Change Your Password</h1>
      <div class="form-floating">
        <input type="password" class="form-control" id="oldPassword" placeholder="Old Password">
        <label for="oldPassword">Old Password</label>
      </div> 
      <div class="form-floating">
        <input type="password" class="form-control" id="newPassword" placeholder="New Password">
        <label for="newPassword">New Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="cnfNewPassword" placeholder="New Password">
        <label for="cnfNewPassword">Confirm New Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    </form>
  </main>
  <app-footer></app-footer>