<style>
    .background_color{
color: white;
    }
</style>
<footer class="footer mt-auto py-3 bg-primary" >
    <div class="container background_color" >
        <div class="row g-8">
        <div class="col-lg-6 ">
            <h3>About us</h3>
            <p>
                CT General Hospital has over a decades of experience in the healthcare sector. It is an expert in providing quality healthcare sector. It is an expert in providing quality healthcare andvaluable services, supported by a team of compassionate and dedicated medical professiopnals.
            </p>
            <ul class="contact-data">
                <li class="clearfix template-location" >CT General Hospital,Mumbai</li>
                <li class="template-phone">(01234)123456</li>
            </ul>
        </div>
        <div class="col-lg-6">   
            <ul class="box-header ">
                <h3>Additional Links</h3>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer" class="background_color">About</a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer" class="background_color">Doctors</a>
                </li> 
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer" class="background_color">Departments & Services</a>
                </li> 
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer" class="background_color">Medical Professionals</a>
                </li>
            </ul>
        </div>

      <span class="text-muted" class="background_color">&#169; CT General Hospital</span>
    </div>
    </div>
  </footer>