
  <nav class="navbar navbar-expand-md bg-primary navbar-dark fixed-right">
    <!-- <button class="navbar-toggler bg-primary" type="button" data-toggle="collapse" data-target="#basicSidebar">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  <button class="btn btn-primary" data-toggle="collapse" data-target="#sidebar" id="menu-toggle">      
  <span class="navbar-toggler-icon"></span>
  </button>
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <span class="fs-4" >CT General Hospital</span>
    </a>

    
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="nav nav-pills ">
        <li class="nav-item text-center"><a href="#" *ngIf="loggedin()" 
          class="nav-link"><span style="color: white;">  <em>{{name | uppercase}}({{role}})</em></span></a></li>
        <li class="nav-item"><a href="#" class="nav-link " aria-current="page"><span >Home</span></a></li>
        <!-- <li class="nav-item"><a href="#" class="nav-link"><span >Services</span></a></li> -->
        <li class="nav-item"><a href="#" class="nav-link"><span >About</span></a></li>
        
        <li class="nav-item"><a href="/login"
          *ngIf="loggedin()" 
          (click)="logout()"
          class="nav-link"><span style="color: white;">Logout</span></a></li>
      </ul>
    </div>
  </nav>



  