<header >
    <nav class="navbar navbar-expand-md bg-primary navbar-dark fixed-right">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <!--<img src="/assets/citius-logo.png" alt="logo" class="img-fluid" width="200" height="30">-->
        <span class="fs-4" style="color: white;">CT General Hospital</span>
      </a>

      <button class="navbar-toggler bg-primary" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav nav-pills ">
          <!--<li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li> -->
          <li class="nav-item"><a href="#" class="nav-link " aria-current="page"><span style="color: white;">Home</span></a></li>
          <li class="nav-item"><a href="#" class="nav-link"><span style="color: white;">Services</span></a></li>
          <li class="nav-item"><a href="#" class="nav-link"><span style="color: white;">About</span></a></li>
        </ul>
      </div>
    </nav>
</header>

