<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <nav class="navbar navbar-expand-md bg-primary navbar-dark fixed-right">
    <!-- <button class="navbar-toggler bg-primary" type="button" data-toggle="collapse" data-target="#basicSidebar">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  <button class="btn btn-primary" data-toggle="collapse" data-target="#sidebar" id="menu-toggle">      
  <span class="navbar-toggler-icon"></span>
  </button>
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <span class="fs-4" ><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i>&nbsp;CT General Hospital</span>
    </a>
    
    
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="nav nav-pills ">
        <li class="nav-item text-center"><a href="#" *ngIf="loggedin()" 
          class="nav-link"><span style="color: white;"> 
            <i *ngIf="role === 'PHYSICIAN'" class="fa fa-user-md fa-lg" aria-hidden="true"></i>
            <i *ngIf="role === 'NURSE'" class="fas fa-user-nurse fa-lg" aria-hidden="true"></i>
            <i *ngIf="role === 'ADMIN'" class="fas fa-user-tie fa-lg" aria-hidden="true"></i>
            <i *ngIf="role === 'PATIENT'" class="fas fa-hospital-user fa-lg" aria-hidden="true"></i>
            &nbsp; 
            <em>{{name | uppercase}} </em></span></a></li>
        <li class="nav-item"><a href="#" class="nav-link " aria-current="page"><span ><i class="fa fa-home fa-fw" aria-hidden="true"></i>Home</span></a></li>
        <!-- <li class="nav-item"><a href="#" class="nav-link"><span >Services</span></a></li> -->
        <li class="nav-item"><a href="#" class="nav-link"><span ><i class="fa fa-star" aria-hidden="true"></i>About</span></a></li>
        
        <li class="nav-item"><a href="/login"
          *ngIf="loggedin()" 
          (click)="logout()"
          class="nav-link"><span style="color: white;"><i class="fas fa-sign-out-alt"></i>Logout</span></a></li>
      </ul>
    </div>
  </nav>



  