<app-header></app-header>
<div class="container" >
    <div class="mx-auto my-3" style="width: 400px;">
      
        <h2><em>Forget Password</em></h2>
<form>
   
    
  <div class="form-floating">
    <label for="floatingInput">Email address</label>
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
  name="email"
  ngModel
  required
  email
  #email="ngModel">
  <span class="validation_error_red" *ngIf="!email.valid && email.touched">Please enter email address!</span>
</div><br>
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <button class="btn btn-primary"><em>Send</em></button>
          </div>
        </div>
      </div>
  </form>
</div></div>
<app-footer></app-footer>


