<!-- <app-header></app-header> -->
<div class="container-fluid" style="background-color:rgb(235, 233, 224);">
  
    <div class="mx-auto my" style="width: 400px;">
      
        <h2 class="text-center"><em>Forget Password</em></h2>
<form>
   
<div class="col-12" style="margin-top: 5px;">
   <div class="col-md-12 col-lg-12 order-md-last">
  <label for="email" class="form-label"><em>Email Id</em></label>
  <input type="email" [(ngModel)]="email" #demail="ngModel"
     pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" id="email" class="form-control"
     placeholder="name@example.com"  required email>

    <div *ngIf="load"  class="clearfix">
      <div class="spinner-border float-right text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

  <div *ngIf="demail.invalid && (demail.dirty || demail.touched)">
     <div *ngIf="demail.errors?.required" class="validation_error_red">
        email is required.
     </div>
     <div *ngIf="demail.errors?.minlength" class="validation_error_red">
        email length small
     </div>
     <div *ngIf="demail.errors?.pattern" class="validation_error_red">
        not a valid email
     </div>
     <div *ngIf="demail.errors?.forbiddenName">
        Name cannot be Bob.
     </div>
  </div>
</div>
</div>

     
<br>
      <div class="container">
        <div class="row">
          <div *ngIf="showbutton" class="col text-center">
            <button  class="btn btn-primary" (click)="sendPassword(email)"><em>Get Password</em></button>
          </div>
          <div *ngIf="showgobutton" class="col text-center">
            <button  class="btn btn-primary" routerLink='/login'><em>Go Back</em></button>
          </div>
        </div>
      </div>
  </form>
</div>
</div>
<app-footer></app-footer>


