<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container-fluid">
    <div class="row">
        <div class="order-md-first">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col center order-md-last top_space">

            <h3> Patient Details  </h3>

            <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                  <input class="form-control mr-md-2 right-addon" type="text" placeholder="Search Names" aria-label="Search" name="firstName"
                  [(ngModel)]="firstName" (ngModelChange)="search()">
                  <i class="fa fa-search new" aria-hidden="true"></i>
                </form>
              </nav>
              

            <th class=""></th>
            <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                <th class="text-center" (click)="sort('id')">Patient Id &nbsp;<i class="fas fa-sort"></i></th>
                <th class="text-center" (click)="sort('firstName')">Name&nbsp;<i class="fas fa-sort"></i></th>
                <th class="text-center">Email</th>
                <th class="text-center">Status</th>
                <th class="text-center">Edit <i class="fas fa-edit fa-lg"></i></th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let obj of patientDetails | orderBy:key : reverse | paginate :{itemsPerPage:5,currentPage:p};">
                <td class="text-center">{{obj.patientId}}</td>
                <td class="text-center">{{obj.firstName}}</td>
                <td class="text-center">{{obj.email}}</td>
                <td class="text-center" [ngClass]="{'active': obj.status === 'Active', 'blocked': obj.status === 'Blocked'}">{{obj.status}}</td>  
                <td class="text-center"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" (click)="edit(obj)">Edit</button>
                </td>
                </tr>
                        
            </tbody>
            </table>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>    
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="formGroupExampleInput">Patient id:</label>
            <input type="text" disabled #patientid="ngModel" [(ngModel)]="statusToUpdate.patientId" class="form-control" id="patientid" name="patientid" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">First name:</label>
            <input type="text" disabled #firstname="ngModel" [(ngModel)]="statusToUpdate.firstName" class="form-control" id="firstname"  name ="firstname" placeholder="Another input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Email</label>
            <input type="text" disabled #email="ngModel" [(ngModel)]="statusToUpdate.email" class="form-control" id="email"  name="email"  placeholder="Another input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Status</label>
            <select id="status" name="status" #status="ngModel" [(ngModel)]="statusToUpdate.status" class="form-control">
              <option value="Blocked">Blocked</option>
              <option value="Active">Active</option>
            </select>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="updateDetails()">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

