<!--<div class="row" style="margin-left: 1%;margin-top: 1%;">
 
    <div>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item "> <button class="btn btn-link " data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Monday
                </button></li>
            <li class="list-group-item"><button class="btn btn-link collapsed" data-toggle="collapse"
                    data-target=".multi-collapse" aria-expanded="false" aria-controls="collapseTwo collapseTwo1">
                    Tuesday
                </button></li>
            <li class="list-group-item "> <button class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                   
                    Wednesday
                </button></li>
            <li class="list-group-item"><button class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Thursday
                </button></li>
            <li class="list-group-item"> <button class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Friday
                </button></li>
            <li class="list-group-item"> <button class="btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Saturday
                </button></li>

        </ul>
    </div>
-->

<!--
<div class="row">
    <div id="accordion" class="adjust_appointments_view">

        <div class="card ">
            <div class="card-header active_appointment" id="headingOne" >
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        <pre>Appointment #1                                                      28 June 2021 9 A.M.</pre>
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <b>Meeting Title :</b> <br>
                    <b>Description :</b><br>
                    <b>Physician :</b><br>
                    <b>Date :</b><br>
                    <b>Time :</b><br>
                    <b>Edit History :</b><br>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header " id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        <pre>Appointment #2                                                      29 June 2021 2 P.M.</pre>
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse  multi-collapse" aria-labelledby="headingTwo"
                data-parent="#accordion">
                <div class="card-body">
                    <b>Meeting Title :</b> <br>
                    <b>Description :</b><br>
                    <b>Physician :</b><br>
                    <b>Date :</b><br>
                    <b>Time :</b><br>
                    <b>Edit History :</b><br>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header " id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo11"
                        aria-expanded="false" aria-controls="collapseTwo11">
                        <pre>Appointment #3                                                      29 June 2021 3 P.M.</pre>
                    </button>
                </h5>
            </div>

            <div id="collapseTwo11" class="collapse  multi-collapse" aria-labelledby="headingTwo"
                data-parent="#accordion">
                <div class="card-body">
                    <b>Meeting Title :</b> <br>
                    <b>Description :</b><br>
                    <b>Physician :</b><br>
                    <b>Date :</b><br>
                    <b>Time :</b><br>
                    <b>Edit History :</b><br>
                </div>
            </div>
            <div id="collapseTwo1" class="collapse  multi-collapse" aria-labelledby="headingTwo"
                data-parent="#accordion">
                <div class="card-body">
                    <b>Meeting Title :</b> <br>
                    <b>Description :</b><br>
                    <b>Physician :</b><br>
                    <b>Date :</b><br>
                    <b>Time :</b><br>
                    <b>Edit History :</b><br>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header " id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        <pre>Appointment #4                                                      30 June 2021 9 A.M.</pre>
                    </button>
                   
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <b>Meeting Title :</b> <br>
                    <b>Description :</b><br>
                    <b>Physician :</b><br>
                    <b>Date :</b><br>
                    <b>Time :</b><br>
                    <b>Edit History :</b><br>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                        aria-expanded="false" aria-controls="collapseFour">
                        <pre>Appointment #5                                                      1 July 2021 2 P.M.</pre>
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <b>Meeting Title :</b> <br>
                    <b>Description :</b><br>
                    <b>Physician :</b><br>
                    <b>Date :</b><br>
                    <b>Time :</b><br>
                    <b>Edit History :</b><br>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                        aria-expanded="false" aria-controls="collapseFive">
                        <pre>Appointment #6                                                      2 July 2021 9 A.M.</pre>
                    </button>
                </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <b>Meeting Title :</b> <br>
                    <b>Description :</b><br>
                    <b>Physician :</b><br>
                    <b>Date :</b><br>
                    <b>Time :</b><br>
                    <b>Edit History :</b><br>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                        aria-expanded="false" aria-controls="collapseSix">
                        <pre>Appointment #7                                                      3 July 2021 3 P.M.</pre>
                    </button>
                </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <b>Meeting Title :</b> <br>
                    <b>Description :</b><br>
                    <b>Physician :</b><br>
                    <b>Date :</b><br>
                    <b>Time :</b><br>
                    <b>Edit History :</b><br>
                </div>
            </div>
        </div>

    </div>


</div>-->
<div class="container-fluid">
    <div class="row">
        <div class="order-md-first">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col center order-md-last ">
            <div id="accordion" class="adjust_appointments_view">

                <div class="card" *ngFor="let obj of weekklyAppointmentList">
                    <div class="card-header active_appointment" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                <pre>{{obj.title}}                                                      {{obj.date}}</pre>
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <b>Title : {{obj.title}} </b> <br>
                            <b>Description : {{obj.description}} </b><br>
                            <b>Physician : {{obj.physician}}</b><br>
                            <b>Date : {{obj.date}}</b><br>
                            <b>Time : {{obj.time}}</b><br>
                            <b>Edit History : {{obj.editHistory}}</b><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>