<div *ngIf="!hasAppointmentsToday">
    <div class="row">
        <div class="order-md-first">
            <app-sidebar></app-sidebar>
            <div class="p-4"></div>
            <div class="p-4"></div>
            <div class="p-4"></div>
            <div class="p-4"></div>
            <div class="p-4"></div>
            <div class="p-4"></div>
            <div class="p-4"></div>
            <div class="p-4"></div>
            <div class="p-4"></div>
            <div class="p-4"></div>
            <div class="p-4"></div>
            <div class="p-4"></div>
        </div>

        <div class="col center order-md-last">

            <h4 class="text-primary p-5" style="margin-left: 40%;display: inline;">Appointments</h4>
            <h1 class="text-center text-danger text-uppercase font-weight-bold shadow p-4 mb-5 bg-white rounded"
                style="width: 70%;margin-left: 15%;">There are no
                appointments today</h1>
        </div>
    </div>

</div>

<div *ngIf="hasAppointmentsToday" class="container-fluid">
    <div class="row">
        <div class="order-md-first">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col center order-md-last ">

            <div id="accordion" *ngIf="hasAppointmentsToday" class="adjust_appointments_view">

                <div class="card" *ngFor="let obj of weekklyAppointmentList; let i = index">
                    <div class="card-header active_appointment"
                        [ngStyle]="{'background-color': (i==0) ? '  rgb(105, 165, 218)' : 'rgb(235, 233, 224)'}"
                        id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapseOne'+i"
                                aria-expanded="true" [attr.aria-controls]="'collapseOne'+i">
                                <b>
                                    <pre>{{obj.title}}                                                      {{obj.date | date:'dd/MM/yyyy'}}</pre>
                                </b>
                            </button>
                        </h5>
                    </div>

                    <div [attr.id]="'collapseOne'+i" class="collapse show " aria-labelledby="headingOne"
                        data-parent="#accordion">
                        <div class="card-body">

                            <b>Title : {{obj.title}} </b> <br>
                            <b>Description : {{obj.description}} </b><br>
                            <b>Physician : {{obj.physician}}</b><br>
                            <b>Date : {{obj.date | date:'dd/MM/yyyy' }}</b><br>
                            <b>Time : {{obj.time}}</b>
                            <br>
                            <div *ngIf='obj.editHistory.length == 0'><b>Edit History : NA</b></div>

                            <div *ngIf="obj.editHistory.length > 0"><b>Edit History :</b></div>
                            <p>
                            <ul class="list-group" *ngFor="let singleObj of obj.editHistory">
                                <div>
                                    <li class="list-group-item bg-light text-dark">Appointment Id : {{singleObj["id"]}}
                                    </li>
                                </div>
                                <li class="list-group-item">Edit Time : {{singleObj["timeOfEdit"]}}</li>
                                <li class="list-group-item">Employee Detail : {{singleObj["employeeDetail"]}}</li>
                                <li class="list-group-item">Reason : {{singleObj["reason"]}}</li>
                                <li class="list-group-item"> Previsous Appointment Details
                                    : <br>{{singleObj["previousAppintmentDetails"] }}</li>
                                <hr>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
<div *ngIf="hasAppointmentsToday" class="container-fluid">
    <div class="row">
        <div class="order-md-first">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col center order-md-last ">

            <div id="accordion" class="adjust_appointments_view">

                <div class="card" *ngFor="let obj of weekklyAppointmentList; let i = index">
                    <div class="card-header active_appointment"
                        [ngStyle]="{'background-color': (i==0) ? '  rgb(105, 165, 218)' : 'rgb(235, 233, 224)'}"
                        id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapseOne'+i"
                                aria-expanded="true" [attr.aria-controls]="'collapseOne'+i">
                                <b>
                                    <pre>{{obj.title}}                                                      {{obj.date}}</pre>
                                </b>
                            </button>
                        </h5>
                    </div>

                    <div [attr.id]="'collapseOne'+i" class="collapse show " aria-labelledby="headingOne"
                        data-parent="#accordion">
                        <div class="card-body">

                            <b>Title : {{obj.title}} </b> <br>
                            <b>Description : {{obj.description}} </b><br>
                            <b>Physician : {{obj.physician}}</b><br>
                            <b>Date : {{obj.date}}</b><br>
                            <b>Time : {{obj.time}}</b><br>
                            <b>Edit History : {{obj.editHistory}}</b><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->