<!-- sidebar -->
<!-- Sidebar Header -->
<div id="sidebar" class="collapse show navbar-collapse">
    <!-- Sidebar Links -->
    <ul class="list-unstyled components ">
        <div class="collapse show">
            <div *ngIf="role =='PHYSICIAN'">
        <li class="nav-item">
            <i class="bi bi-inboxes-fill"></i>
            <a class="nav-link bi bi-inboxes-fill" data-toggle="collapse" href="#inboxSubmenu">
                <i class="bi bi-inboxes-fill"></i>
                Inbox</a>
            <ul class="list-unstyled components collapse" id="inboxSubmenu">
                <li><a routerLinkActive="active" routerLink="/inbox/appointment">&nbsp;&nbsp;&nbsp;Appointments</a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse">&nbsp;&nbsp;&nbsp;Notes</a>
                    <ul class="collapse list-unstyled components " id="homeSubmenu">
                        <li class="nav-item"><a class="nav-link" data-toggle="collapse" routerLink="/note/send"
                                routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;&emsp;Send</a></li>
                        <li><a class="nav-link" data-toggle="collapse" routerLink="/note/recieve"
                                routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;&emsp;Recieved</a></li>
                        <li><a class="nav-link" data-toggle="collapse" routerLink="/note/sent"
                                routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;&emsp;Sent</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </div>
    <div *ngIf="role =='NURSE'">
        <li><a routerLinkActive="active" routerLink="/appointment/add">Schedular</a></li>
        <li class="nav-item collapse show">
            <a class="nav-link bi bi-inboxes-fill" data-toggle="collapse" href="#medication">
                <i class="bi bi-inboxes-fill"></i>
                Visit Details</a>
            <ul class="list-unstyled components collapse" id="medication">
                <li><a routerLinkActive="active" routerLink="/patient-visit/medication">&nbsp;&nbsp;&nbsp;Medication</a>
                </li>
            </ul>
        </li>
        </div>
        <div *ngIf="role =='ADMIN'">
        <li><a routerLinkActive="active" routerLink="/appointment/add">Patient Management</a></li>
        <li><a routerLinkActive="active" routerLink="/appointment/add">Hospital Staff Management</a></li>
        </div>
        <div *ngIf="role =='PATIENT'">
            <li><a routerLinkActive="active" routerLink="/patient-details">&nbsp;&nbsp;&nbsp;patient-details</a>
            </li>
        </div>
    </div>
    </ul>
</div>

<!------------------------------>

