<div>
  <h2 class="mb-3">Patient Visit Details</h2>
  <div class="form-group">
    <label for="patientName">Patient Name</label>
    <input id="patientName"  type="text" class="form-control" name="searchName" placeholder="Search Name"
              [(ngModel)]="profile"
              [ngbTypeahead]="search"
              [editable]='false'
              [inputFormatter]="inputFullNameValue"
              [resultFormatter]="resultFullNameValue"
              />
  </div><hr>
  <h4 class="mb-3">Patient Vital Signs</h4>
  <form class="needs-validation" novalidate (ngSubmit)="onSubmit(vitals)" #vitals="ngForm">
    <div class="row g-3">   
    <!-- <div class="col-sm-4 form-group">
      <label for="drugId" class="form-label">Diagnosis Code</label>
      <input id="patientName"  type="text" class="form-control" name="searchName" placeholder="Diagnosis Code"
              [(ngModel)]="profile"
              [ngbTypeahead]="search"
              [editable]='false'
              [inputFormatter]="inputFormatBandListValue"
              [resultFormatter]="resultFormatBandListValue"
              />
  </div> -->
          <div class="col-sm-4">
            <label for="height" class="form-label">Height</label>
            <input type="text" class="form-control" ngModel name="height" id="height" placeholder="In cm..." value="" required>
            <div class="invalid-feedback">
            </div>
        </div>
        <div class="col-sm-4">
            <label for="weight" class="form-label">Weight</label>
            <input type="text" class="form-control" ngModel name="weight" id="weight" placeholder="In Kg..." value="" required>
            <div class="invalid-feedback">
            Valid last name is required.
            </div>
        </div>
      
       <div class="col-sm-4">
            <label for="bloodPressure" class="form-label">Blood Pressure</label>
            <input type="text" class="form-control" ngModel name="bloodPressure" id="bloodPressure" placeholder="In mm Hg...."><br>
            <div class="invalid-feedback">
            Please enter a valid valid contact number.
            </div>
        </div>
        <div class="col-sm-6">
          <label for="bodyTemperature" class="form-label">Body Temperature</label>
          <input type="text" class="form-control" ngModel name="bodyTemperature" id="bodyTemperature" placeholder="In Fahrenheit...">
          <div class="invalid-feedback">
          Please enter a valid valid contact number.
          </div>
      </div>
      <div class="col-sm-6">
          <label for="respirationRate" class="form-label">Respiration Rate</label>
          <input type="text" class="form-control" ngModel name="respirationRate" id="respirationRate" placeholder="In BPM...">
          <div class="invalid-feedback">
          Please enter a valid valid contact number.
          </div>
      </div>
    </div>
  <br>
    <button class="w-10 btn btn-primary btn-lg" type="submit">Submit</button>
  </form><hr>

</div>