/* h1{
    text-align: center;
    align-items: center;
} */


.upper_space {
    margin-top: 4%;
    
 }
 
 .left_space{
    margin-left: 3%;
 }
 
 .upper_space{
    margin-top: 3%;
 }

 .upper_space_2{
    margin-top: 2%;
 }
 
 .bottom_space{
    margin-bottom: 3%;
 }